<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Conversion Tool</title>
</head>
<body>
    <form action="/dateToLabel" method="post">
        <label for="userDate">Enter a date:</label>
        <input type="text" id="userDate" name="userDate" placeholder="mm/dd/yyyy"/>
        <button type="submit">Submit</button>
    </form>
    <!-- Checks if the var result exists and has a value, if yes then show results below-->
    {% if result %}
        <p>{{ result }}</p>
        <form action="/dateToLabel" method="POST">
            <p>Would you like to go again?</p>
            <button type="submit" name="choice" value="yes">yes</button>
            <button type="submit" name="choice" value="stop">stop</button>
        </form>
    {% endif %}
</body>
</html>